<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>知识大综合_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCB382C21C433C36005C57B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB382DB1C433C36005C57B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB382E61C433C36005C57B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
